body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
}

input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
}